= render 'form'
%section
  %h3 Cancel Account
  #cancel-user
    %p Unhappy? We'll be sad to see you go.
    = button_to 'Cancel my account', destroy_user_path(resource), method: 'delete', class: 'button-primary-block', data: { confirm: 'Are you sure?', disable_with: 'loading...' }
