%section.edit-user
  = render 'form'
%section.cancel-user
  %h3.form-title Cancel Account
  %p Unhappy? We'll be sad to see you go.
  = button_to 'Cancel my account',
    destroy_user_path(resource),
    method: 'delete',
    class: 'button-cancel-account',
    data: { confirm: 'Are you sure?', disable_with: 'loading...' }
