- content_for :title, 'Users'
- content_for :description, 'Listing of all users'
.row
  .col-md-2
    %h3= "Users: (#{User.count} registered)"
  .col-md-12
    %table.table
      %tbody
      - @users.each do |user|
        %tr= render user