<h3>User</h3>
<p>Email: <%= @user.email if @user.email %></p>
<h4>Degree Status</h3>
<h5>Taken Courses</h5>
<table>
  <%- @user.enrolled_ins.each do |enrolled_in| %>
    <%- course = Course.find(enrolled_in.course_id) %>
    <tr>
      <td><%= render course %></td>
      <td><%= link_to('remove', enrolled_in_path(enrolled_in), data: { confirm: 'Are you sure?' }, method: :delete, class: 'button-xs') %></td>
    </tr>
  <%- end %>
</table>