- content_for :title, 'Profile'
- content_for :description, "User details."
.container
  .row
    %h3= @user.email
    %h4 Degree Status:
    %h4 Taken Courses:
    %table.table
      %tbody.taken-courses
        = render @user.taken_courses