- content_for :title, 'Profile'
- content_for :description, "User details."
.modal.fade#took-this-modal{ tabindex: "-1", role: "dialog",
  'aria-labelledby' => "took-this-modal-Label", 'aria-hidden' => "true" }
.row
  .col-md-12
    %h3= @user.email
    %h4 Degree Status:
    %ul
      %li
        = "Required Credits Earned: #{@user.required_credits_earned}"
    %h4 Taken Courses:
    %table.table
      %tbody.taken-courses
        = render @user.taken_courses