-content_for :title, 'Edit Course'
-content_for :description, 'Edit an existing course.'
.container
  .row
    .column
      .authform
        %h3="Edit Course #{@course.full_id}"
        =render 'courses/form'