= content_for :description, 'Course Listings'
= content_for :title, 'Courses'
%section
  .col-xs-12
    %h1
      Courses
      = show_new_course_button_if_admin
    %ul.list-group
      - @courses.each do |course|
        %li.list-group-item
          = render course, active_plan: @active_plan
