<%= content_for :description, 'Course Listings' %>
<%= content_for :title, 'Courses' %>
<div class="container">
  <div class="row">
    <h1>
      Courses
      <% if current_user.present? && current_user.admin? %>
        <%= link_to '+', new_course_path %>
      <% end %>
    </h1>
    <div class="column">
      <table class="table">
        <tbody>
          <% @courses.each do |course| %>
            <tr class="course">
              <%= render course %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>