-content_for :description, 'Course Listings'
-content_for :title, 'Courses'
.container
  .row
    .h1 Courses
    .column
      %table.table
        %tbody
          -@courses.each do |course|
            %tr.course= render course