.courses-taken-course-button {
  float: left;
}

.courses-planned-course-button {
  margin-left: percentage(5px/1000px);
}

.unavailable-course {
  background-color: $gray-lighter;
}

.degree_requirement_badge {
  @extend .badge;
  float: right;
  margin-left: percentage(5px/1000px);
}

.required-course {
  @extend .degree_requirement_badge;
}

.distribution-requirement {
  @extend .degree_requirement_badge;
}

.free-elective {
  @extend .degree_requirement_badge;
}
