// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  max-width: 320px;
  margin: 20px auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}

.button-block {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-block;
}

.button-primary-block {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.button-primary {
  @extend .btn;
  @extend .btn-primary;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.button {
  @extend .btn;
  @extend .btn-default;
}

#cancel-user {
  @extend .well;
  max-width: 320px;
}
