hr {
  margin: 10px;
  width: 100%;
}

// make all images responsive by default
// ? Rails_App_Composer put this here...
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.error-messages {
  @extend .alert;
  @extend .alert-danger;
}

.button-block {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-block;
}

.button-primary-block {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.button-danger-block {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-block;
}

.button-primary {
  @extend .btn;
  @extend .btn-primary;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.button {
  @extend .btn;
  @extend .btn-default;
}

.glyphicon-collapse-down {
  color: $gray-light;
  text-decoration: none;

  &:hover,
  &:active {
    color: $gray;
  }
}

@mixin diagnol-bars {
  background-image:
    repeating-linear-gradient(
      45deg,
      $desaturated-drexel-yellow,
      $desaturated-drexel-yellow 10px,
      $body-bg 10px,
      $body-bg 20px
    );
}
