// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

main {
  background-color: #eee;
  padding-bottom: percentage(80px/1000px);
  width: 100%;
  margin-top: 40px; // accommodate the navbar
}

section {
  @extend .row;
  margin: percentage(20px/1000px) auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: ceil(($font-size-base * 16/14)); // ~16px
}

.button-block {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-block;
}

.button-primary-block {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.button-primary {
  @extend .btn;
  @extend .btn-primary;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.button {
  @extend .btn;
  @extend .btn-default;
}

#cancel-user {
  @extend .well;
  max-width: 320px;
}
