// font imports, to be used in _bs_overrides.css.scss
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
$open-sans: "Open Sans", sans-serif;
$open-sans-weight: 700;

@import url(http://fonts.googleapis.com/css?family=Lato);
$lato: "Lato", sans-serif;
