// Navigation Styles

.navbar-right > li > a {
  padding-right: 5px;
}

.navbar-nav > .gravatar {
  margin-right: -5px;

  .round {
    border-radius: 50%;
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 0;
    width: 40px;
  }

  img {
    height: 40px;
    padding: 0;
    width: 40px;
  }

  a {
    padding: 5px 0;
  }
}
