h2 > .glyphicon-stats, .glyphicon-calendar {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 2px solid $text-color;
}

h2 > .glyphicon-stats {
  padding: 2px;
}

h2 > .glyphicon-calendar {
  padding-top: 2px;
  padding-left: 5px;
}

.plan-course-description {
  text-align: justify;
  hyphens: auto;
}

.problems-found {
  text-align: center;
  text-justify: distribute;
  background-color: $brand-danger;
  padding: $line-height-computed 0;
}

.toggle-section {
  appearance: none;
}
