h2 > .glyphicon-stats,
.glyphicon-calendar {
  border: 2px solid $text-color;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

h2 > .glyphicon-stats {
  padding: 2px;
}

.progress-bar {
  width: 100%;
}

.plan-stat-row {
  height: 40px;
}

.progress-stat-label, .plan-stat-label {
  text-align: right;
  font-weight: bold;
}

.problems-found {
  background-color: $brand-danger;
  padding: $line-height-computed 0;
  text-align: center;
  text-justify: distribute;
}

.toggle-section {
  appearance: none;
}

h2 > .glyphicon-calendar {
  padding-left: 5px;
  padding-top: 2px;
}

.quarter-courses {
  display: flex;
  flex-flow: row wrap;
}

.plan-taken-course {
  background-color: $gray-lighter;
}

.plan-course {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  flex: 1 100%; // Display courses vertically

  // Display courses side-by-side on sm and larger devices (as defined by BS)
  @media all and (min-width: $screen-sm-min) {
    flex: 1;
  }
}

.add-to-taken, .unplan {
  float: right;
  margin-right: 5px;
}

.add-planned-course-area {
  text-align: center;
}

