// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// apply styles to HTML elements
// to make views framework-neutral

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

@import "custom";
@import "forms";
@import "modals";
@import "courses";
