- content_for :title, 'Plans'
- content_for :description, "A list of the user's degree plans."
.container
  .row
    %h3 Your Plans
    .column
      %table.table#plans-table
        = render @user.plans

      %br
      = link_to 'New Plan', new_user_plan_path(@user)
