- content_for :title, 'New Plan'
- content_for :description, 'Form for creating a new plan.'
.container
  .row
    .column
      = render 'form', object: [@plan.user, @plan]
      = link_to 'Back', user_plans_path(current_user)
