<div class="modal-dialog">
  <div class="modal-content">
    <%= render 'taken_courses/modal_header' %>
    <%= render 'taken_courses/modal_body'   %>
    <%= render 'taken_courses/modal_footer' %>
  </div>
</div>