-content_for :title, 'Add Taken Course'
-content_for :description, 'Record having taken a class.'
.authform
  =form_for @taken_course do |f|
    %h3 Add Taken Course
    / =devise_error_messages!
    .hidden
      =f.hidden_field :course_id
    .hidden
      =f.hidden_field :user_id
    .form-group
      =f.label :quarter
      =f.text_field :quarter, :autofocus => true, class: 'form-control'
    .form-group
      =f.label :grade
      =f.collection_select(:grade, TakenCourse.grades.collect, :first, :first, prompt: true)
    =f.submit 'Add', :class => 'button right'