%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapsible-area", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand Drexel MSIS Planner
    .collapse.navbar-collapse#navbar-collapsible-area
      %ul.nav.navbar-nav
        = render "layouts/navigation_links_left"
      %ul.nav.navbar-nav.navbar-right
        = render "layouts/navigation_links_right"
