%nav
  .container
    .navbar-header
      %button.navbar-collapse-button{"data-target" => "#navbar-collapsible-area", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Home", root_path, class: "navbar-home"
    .navbar-collapsible-area#navbar-collapsible-area
      %ul.navbar-links
        = render "layouts/navigation_links"
