- if user_signed_in?
  %li.gravatar
    %a.gravatar-link{ href: edit_user_registration_path }
      .gravatar-img-container
        %img.gravatar-img{ src: gravatar_url_for(current_user) }
  %li= link_to current_user.name, edit_user_registration_path, class: "user-link"
  %li
    =link_to raw("sign out <span class='glyphicon glyphicon-log-out'></span>"), destroy_user_session_path, method: :delete
- else
  %li= link_to "sign in", new_user_session_path
  %li= link_to "sign up", new_user_registration_path
